
button > i{
	font-size: 25px;
}

.modal-textarea{
	min-height: 100px;
}

/* ======= Login ======= */

.scroll{
	min-height: 99%;
}

#login-header{
	margin-bottom: 50px;
}

.login-image{
	width: 100%;
}

#login-options{
	position: absolute;
	bottom: 20px;
}

#login-options a{
	text-decoration: none;
}

#login-options > div:first-child{
	border-right: 1px #b2b2b2 solid;
	text-align: right;
	padding-right: 20px;
}

#login-options > div:last-child{
	padding-left: 20px;
}

/* ======= User Profile ======= */

#user-header h2{
	margin: 10px 0 0 0px;
}

#user-header p{
	margin: 0 0 5px 0px;
}

/* ======= Landmark Details ======= */
.landmark-description{
	min-height: 100px;
	height: auto;
	border-bottom: 1px lightgrey solid;
}

#landmark-footer{
	padding: 0;
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
}

#landmark-footer div, #landmark-footer button{
	width: 100%;
	margin: 0;
	color: #fff;
	font-size: 18px;
}



