<ion-view view-title="Sign-In" name="login-view" id="login">

	<ion-content class="padding">
		<div class="row" id="login-header">
			<div class="col col-33 col-offset-33"><img class="login-image" src="img/placeholder-icon.png"></div>
		</div>
		
		<div class="list list-inset">
			<label class="item item-input">
				<input type="text" placeholder="Username" ng-model="user.username">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Password" ng-model="user.password">
			</label>
		</div>
		<button class="button button-block button-positive" ng-click="login(user)">Login</button>

		<div class="row row-bottom" id="login-options">
			<div class="col"><a href="#/register">Register</a></div>
			<div class="col"><a href="#">Password?</a></div>
		</div>
	</ion-content>
</ion-view>