<ion-view view-title="Me">
	<ion-nav-buttons side="right">
		<button class="button" ng-click="">
			<i class="ion-log-out"></i>
		</button>

		<button class="button" ng-click="">
			<i class="ion-android-add"></i>
		</button>
   	</ion-nav-buttons>

	<ion-content>
		<ion-list>
			<ion-item id="user-header" class="item-avatar item-divider" type="item-text-wrap">
				<img ng-src="img/placeholder-icon.png">
				<h2>{{user.first_name}} {{user.last_name}}</h2>
				<p>{{user.username}}</p>
			</ion-item>

			<ion-item class="item item-icon-right" href="#tab/me/visited">
				<p>Landmarks Visited: {{user.visited}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>

			<ion-item class="item item-icon-right" href="#tab/me/created">
				<p>Landmarks Created: {{user.created}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>

			<ion-item class="item-divider">
				Active Landmarks
			</ion-item>
			<ion-item class="item-remove-animate item-icon-right" ng-repeat="landmark in user.landmarks" type="item-text-wrap" href="#tab/me/active/{{landmark.id}}">
				<h2>{{landmark.location_name}}</h2>
				<i class="icon ion-chevron-right icon-accessory"></i>

				<ion-option-button class="button-assertive" ng-click="">
					Delete
				</ion-option-button>
				<ion-option-button class="button-energized" ng-click="">
					Deactivate
				</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>